{{#each this}}
<li>
  <h2>{{strDrink}}</h2>
  <img src="{{strDrinkThumb}}" alt="{{strDrinkThumb}}">
  <ul class="ingredients">
    <li>{{strIngredient1}}</li>
    <li>{{strIngredient2}}</li>
    <li>{{strIngredient3}}</li>
    <li>{{strIngredient4}}</li>
    <li>{{strIngredient5}}</li>
    <li>{{strIngredient6}}</li>
    <li>{{strIngredient7}}</li>
    <li>{{strIngredient8}}</li>
    <li>{{strIngredient9}}</li>
    <li>{{strIngredient10}}</li>
  </ul>
  <p>{{strGlass}}</p>
  <p>{{strAlcoholic}}</p>
  <p>{{strCategory}}</p>
  <p>{{strInstructions}}</p>
  <p>{{strIBA}}</p>
  <a href="https://iba-world.com/iba-cocktails/"></a>
</li>
{{/each}}